
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):checked{
    background-color: #e9bf36;
    border-color: #e9bf36;
    color: black;
}

.ant-radio-button-inner{
    background-color: #e9bf36 !important;
    border-color: #e9bf36 !important;
    color: black;
}