/* .cell {
    background-color: aliceblue;
} */

.cell-input{
    /* height: 47px;
    width: 47px;
    font-size: 20px;
    text-align: center;
    border: none;
    -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.27) inset;
    -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.27) inset;
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.27) inset;
    color: black;
} */

height: 47px;
    width: 47px;
    font-size: 20px;
    text-align: center;
    border: none;
    box-shadow: 7px 7px 5px -5px rgb(34 60 80 / 27%) inset;
    color: #414141;
    background: #f2f2f2;
    border: 2px solid #ffffff29;
}

.cell-input:hover{
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.selected{
    background-color:rgb(221, 220, 220);
}

.sub-selected{
    background-color:#ffd036
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/* input[readonly]{
    pointer-events: none;
} */

.error{
    background-color: #ffaabf;
}

input[s='2'], input[s='4'], input[s='6'], input[s='8']{
    opacity: 0.9;
}

input:read-only{
    color: rgb(129, 129, 129);
}