.new-game-btn, .pause-btn, .wrapper-timer, .difficulty-btn {
    border: 2px solid var(--yellow);
    text-transform: none;
    height: 32px;
    font-size: 18px;
    background-color: transparent;
    width: 130px;
    outline: none;
    cursor: pointer;
    padding-bottom: 4px;
    /* color: var(--yellow); */
    color: var(--yellow);
    margin-bottom: 10px;
    line-height: 1.3;
}

.difficulty-btn{
    margin: 10px;
}